# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

**/Makefile
**/Makefile.in
build/

.settings
.autotools
.cproject
.project

**/.libs
**/.deps/
**/.dirstamp
**/*.lo
**/*.o
**/*.la

config.guess.dh-orig
config.log
config.status
config.sub.dh-orig
libtool
m4/

INSTALL

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/zimaserver.debhelper.log
debian/zimaserver.substvars
debian/zimaserver/

.kdev4
*.kdev4
